<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">

    <f:comment>
        <f:debug>{jobOffers}</f:debug>
    </f:comment>

    <a id="tx-hive-career" name="tx-hive-career"></a>
    <div class="row">
        <div class="col">
            <ul class="list-group">
                <f:for each="{jobOffers}" as="jobOffer" iteration="iterator">
                    <li class="list-group-item  d-flex justify-content-end align-items-center">
                        <span class="title mr-auto p-2"><strong>{jobOffer.title}</strong></span>
                        <span class="start_date p-2 mr-5">
							<f:if condition="{f:format.date(date: 'now', format: '%Y.%m.%d')} < {f:format.date(date: '{jobOffer.startDate}', format: '%Y.%m.%d')}">
								<f:then>
                                     <strong>
									    <f:translate key="tx_hivecareer_domain_model_joboffer.start_date" />: <f:format.date format="%d.%m.%Y">{jobOffer.startDate}</f:format.date>
                                     </strong>
								</f:then>
								<f:else>
                                     <strong>
									    <f:translate key="tx_hivecareer_domain_model.immediately" />
                                      </strong>
								</f:else>
							</f:if>
						</span>
                        <f:link.action action="show" arguments="{jobOffer : jobOffer}" pageUid="{settings.showPid}" class="btn btn-primary actions p-2"><f:translate key="tx_hivecareer_domain_model.more" /></f:link.action>
                    </li>
                </f:for>
            </ul>
        </div>
    </div>

</f:section>
</html>
