<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">


    <f:if condition="{g4jobs_structuredData}">
        <f:render partial="JobOffer/GoogleForJobs" arguments="{structuredData: g4jobs_structuredData}"/>
    </f:if>

    <div class="row">
        <div class="col">
            <div class="d-block">
                <h1>{jobOffer.title}</h1>
            </div>

            <f:if condition="{jobOffer.startDate}">
                <div class="d-block">
                    <p>
                        <strong>
                            <f:if condition="{f:format.date(date: 'now', format: '%Y.%m.%d')} < {f:format.date(date: '{jobOffer.startDate}', format: '%Y.%m.%d')}">
                                <f:then>
                                    <f:translate key="tx_hivecareer_domain_model_joboffer.start_date" />: <f:format.date format="%d.%m.%Y">{jobOffer.startDate}</f:format.date>
                                </f:then>
                                <f:else>
                                    <f:translate key="tx_hivecareer_domain_model.immediately" />
                                </f:else>
                            </f:if>
                        </strong>
                    </p>
                </div>
            </f:if>

            <f:if condition="{jobOffer.employmenttype}">
                <div class="d-block">
                    <strong><f:translate key="tx_hivecareer_domain_model_joboffer.employmenttype" />:&nbsp;</strong><f:translate key="tx_hivecareer_domain_model.{jobOffer.employmenttype}" />
                </div>
            </f:if>

            <f:if condition="{jobOffer.company}">
                <div class="d-block">
                    <f:format.raw>
                        {jobOffer.company}
                    </f:format.raw>
                </div>
            </f:if>

            <f:if condition="{jobOffer.location}">
                <div class="d-block">
                    <f:format.raw>
                        {jobOffer.location}<br><br>
                    </f:format.raw>
                </div>
            </f:if>

            <f:if condition="{jobOffer.intro}">
                <div class="d-block">
                    <f:format.raw>
                        {jobOffer.intro}
                    </f:format.raw>
                </div>
            </f:if>

            <f:if condition="{jobOffer.task}">
                <div class="d-block">
                    <f:format.raw>
                        {jobOffer.task}
                    </f:format.raw>
                </div>
            </f:if>

            <f:if condition="{jobOffer.profile}">
                <div class="d-block">
                    <f:format.raw>
                        {jobOffer.profile}
                    </f:format.raw>
                </div>
            </f:if>

            <f:if condition="{jobOffer.information}">
                <div class="d-block">
                    <f:format.raw>
                        {jobOffer.information}
                    </f:format.raw>
                </div>
            </f:if>

            <f:if condition="{jobOffer.contact} =! ''">
                <f:render partial="JobOffer/Contact" arguments="{contactperson: jobOffer.contact}"/>
            </f:if>

            <f:if condition="{jobOffer.download}">
                <div class="d-block text-center download">
                    <a class="btn btn-outline-primary" href="{jobOffer.download.originalResource.publicUrl}" target="_blank">
                        <f:translate key="tx_hivecareer_domain_model.download" />
                    </a>
                </div>
            </f:if>
        </div>
    </div>


    <f:link.action action="list" pageUid="{settings.listPid}" section="tx-hive-career" class="btn btn-primary mt-5"><f:translate key="tx_hivecareer_domain_model.backToList" /></f:link.action><br />
</f:section>
</html>
