<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-hive-career" >
	<tr>
		<td>
			<f:translate key="tx_hivecareer_domain_model_joboffer.backend_title" />
		</td>
		<td>
		{jobOffer.backendTitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hivecareer_domain_model_joboffer.title" />
		</td>
		<td>
		{jobOffer.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hivecareer_domain_model_joboffer.start_date" />
		</td>
		<td>
		{jobOffer.startDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hivecareer_domain_model_joboffer.employmenttype" />
		</td>
		<td>
		{jobOffer.employmenttype}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hivecareer_domain_model_joboffer.company" />
		</td>
		<td>
		{jobOffer.company}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hivecareer_domain_model_joboffer.location" />
		</td>
		<td>
		{jobOffer.location}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hivecareer_domain_model_joboffer.intro" />
		</td>
		<td>
		{jobOffer.intro}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hivecareer_domain_model_joboffer.task" />
		</td>
		<td>
		{jobOffer.task}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hivecareer_domain_model_joboffer.profile" />
		</td>
		<td>
		{jobOffer.profile}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hivecareer_domain_model_joboffer.information" />
		</td>
		<td>
		{jobOffer.information}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hivecareer_domain_model_joboffer.download" />
		</td>
		<td>
				<a href="{jobOffer.download.originalResource.publicUrl}">
					{jobOffer.download.originalResource.name}
				</a>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hivecareer_domain_model_joboffer.external_link" />
		</td>
		<td>
		{jobOffer.externalLink}
		</td>
	</tr>
</table>
</html>
